<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<title>{{title}}</title>

<body>
    {{!-- 导航头部 --}} 
    {{> header }}
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

</html>